/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}


.results-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
}

h1 {
    font-size: 2.5rem;
    color: #1565c0;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e3f2fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.choice-name {
    font-weight: bold;
    color: #1565c0;
}

.vote-count {
    font-size: 1.2rem;
    color: #333;
}

/* If no votes yet */
p.no-votes {
    color: #888;
}
.start img {
    width: 500px;
    height: auto;
}
/* Footer Section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom:0;
}

.footer img {
    width: 400px;
    height: auto;
}
