/* Header Box Styles */
.header {
    padding: 5px;
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
}

.header h1 {
    margin: 0;
    padding: 10px;
    background: linear-gradient(135deg, #000000, #1565c0);
    font-size: 2.5rem;
    font-weight: bold;
}

.header h2 {
    color: #000000;
    font-size: 1.3rem;
    margin-bottom: 5px; /* Reduce space below "Vote for the most popular team" */
}

/* Vote Container */
.vote-container {
    display: flex;
    justify-content: space-around; /* Ensure small gaps between teams */
    align-items: flex-start;
    width: 80%;
    margin-top: 10px; /* Small gap between header and vote container */
    margin-bottom: 20px;
    gap: 20px; /* Ensure a small, consistent gap between teams */
    flex-wrap: nowrap; /* Prevent the teams from wrapping to the next line */
    overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 10px 0;
}

.team img {
    width: 180px;
    height: 180px; /* Adjust the height of the image */
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.team button {
    background: linear-gradient(135deg, #000000, #1565c0);
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    width: 100%;
}

.team button:hover {
    background: linear-gradient(135deg, #f1f1f2, #3e61ee);
    color: #000000;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Footer Section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer img {
    width: 400px;
    height: auto;
}
