/* Header Box Styles */
.header {
    padding: 5px; /* Reduce padding */
    color: white;
    text-align: center;
    margin: 0; /* Remove margin to reduce space */
    width: 100%;
}

.header h1 {
    margin: 0;
    padding: 10px; /* Add some padding to the h1 */
    background: linear-gradient(135deg, #000000, #1565c0);
    font-size: 2.5rem; /* Adjust font size */
    font-weight: bold;
}

.header h2 {
    color: #000000;
    font-size: 1.3rem; /* Reduce font size */
    margin-bottom: 5px; /* Reduce space below "Vote for the most popular team" */
}

/* Vote Container */
.vote-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items at the top to avoid vertical centering */
    width: 80%; /* Adjust the width if needed */
    margin-top: 0; /* Remove gap between header and vote container */
    margin-bottom: 10px; /* Adjust to reduce space below the vote container */
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.team img {
    width: 100%; /* Full width of the container */
    height: 180px; /* Adjust the height of the image */
    object-fit: cover;
    margin-bottom: 10px; /* Reduce space between image and button */
    border-radius: 5px;
}

.team button {
    background: linear-gradient(135deg, #000000, #1565c0);
    color: white;
    border: none;
    padding: 8px 10px; /* Adjust padding for better fit */
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    width: 100%;
}

.team button:hover {
    background: linear-gradient(135deg, #f1f1f2, #3e61ee);
    color: #000000;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Footer Section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Reduce bottom margin */
}

.footer img {
    width: 400px; /* Adjust size of the image */
    height: auto;
}
