<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNO 2024 Voting</title>

    <!-- Add a style block with background image -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url("{{ url_for('static', filename='images/background.jpg') }}") no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100vh;
        }
    </style>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <h1>TECHNO 2024</h1>
        <h2>Vote for the most popular team</h2>
    </div>

    <!-- Voting Section -->
    <div class="vote-container">
        <div class="team">
            <img src="{{ url_for('static', filename='images/mushru.jpg') }}" alt="Team SSJC">
            <button class="vote-button" onclick="submitVote('MushRu',1)">MushRu</button>
        </div>

        <div class="team">
            <img src="{{ url_for('static', filename='images/rycycle.jpg') }}" alt="Rycycle">
            <button class="vote-button" onclick="submitVote('Rycycle',1)">Rycycle</button>
        </div>

        <div class="team">
            <img src="{{ url_for('static', filename='images/onezero.jpg') }}" alt="Institute of Brainiacs">
            <button class="vote-button" onclick="submitVote('PetClicks',1)">PetClicks</button>
        </div>
                                                                                                                                                                                                                                                                                 
        <div class="team">
            <img src="{{ url_for('static', filename='images/brainiacs.jpg') }}" alt="OneZero">
            <button class="vote-button" onclick="submitVote('Brainiacs',1)">Brainiacs</button>
        </div>                                         
        <div class="team">
            <img src="{{ url_for('static', filename='images/tropisip.jpg') }}" alt="TropiSip">
            <button class="vote-button" onclick="submitVote('TropiSip',1)">TropiSip</button>
        </div>

    </div>

    <!-- Footer Section with Logos -->
    <div class="footer">
        <img src="{{ url_for('static', filename='images/IESL.png') }}" alt="IESL Logo">
    </div>

    <script src="{{ url_for('static', filename='js/vote.js') }}"></script>
</body>
</html>
