<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNO 2024 Voting</title>

    <!-- Add a style block with background image -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url("{{ url_for('static', filename='images/background.jpg') }}") no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100vh;
        }
    </style>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <h1>TECHNO 2024</h1>
        <h2>Vote for the most popular team</h2>
    </div>

    <!-- Voting Section -->
    <div class="vote-container">
        <div class="team">
            <img src="{{ url_for('static', filename='images/parent.jpg') }}" alt="Team SSJC">
            <button class="vote-button" onclick="submitVote('ParentCare',3)">ParentCare</button>
        </div>

        <div class="team">
            <img src="{{ url_for('static', filename='images/12.png') }}" alt="Rycycle">
            <button class="vote-button" onclick="submitVote('AlertEYE',3)">AlertEYE</button>
        </div>

        <div class="team">
            <img src="{{ url_for('static', filename='images/smile.jpg') }}" alt="Institute of Brainiacs">
            <button class="vote-button" onclick="submitVote('Smile in Bloom',3)">Smile in Bloom</button>
        </div>

        <div class="team">
            <img src="{{ url_for('static', filename='images/socket.jpg') }}" alt="OneZero">
            <button class="vote-button" onclick="submitVote('SocketBurners',3)">SocketBurners</button>
        </div>
        <div class="team">
            <img src="{{ url_for('static', filename='images/15.png') }}" alt="OneZero">
            <button class="vote-button" onclick="submitVote('Phantom Orion',3)">Phantom Orion</button>
        </div>
    </div>

    <!-- Footer Section with Logos -->
    <div class="footer">
        <img src="{{ url_for('static', filename='images/IESL.png') }}" alt="IESL Logo">
    </div>

    <script src="{{ url_for('static', filename='js/vote.js') }}"></script>
</body>
</html>
